# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ filer
*.xml
*.iml
*.project
*.classpath
*.prefs
/dk.dtu.compute.se.pisd.monopoly.mini/src/dk/dtu/compute/se/pisd/monopoly/mini/.DS_Store
/dk.dtu.compute.se.pisd.monopoly.mini/src/dk/dtu/compute/se/pisd/monopoly/.DS_Store
/dk.dtu.compute.se.pisd.monopoly.mini/src/dk/dtu/compute/se/pisd/.DS_Store
/dk.dtu.compute.se.pisd.monopoly.mini/src/dk/dtu/compute/se/.DS_Store
/dk.dtu.compute.se.pisd.monopoly.mini/src/dk/dtu/compute/.DS_Store
/dk.dtu.compute.se.pisd.monopoly.mini/src/dk/dtu/.DS_Store
/dk.dtu.compute.se.pisd.monopoly.mini/src/dk/.DS_Store
/dk.dtu.compute.se.pisd.monopoly.mini/src/.DS_Store
/dk.dtu.compute.se.pisd.monopoly.mini/.DS_Store
/.DS_Store
